<% content_for(:title) { "Campaign \"#{@campaign.name}\"" } %>
<% content_for(:description) { "ID #{@campaign.id} " } %>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div id="stats" style="width: 99%" class="datagraph"></div>
    </div>

    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">All Ads</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Ad Image</th>
            <th>Target URL</th>
            <th>Impressions</th>
            <th>Clicks</th>
            <th>Click Through Rate</th>
          </tr>
          <% @campaign.ads.each do |ad| %>
            <tr>
              <td><%= link_to ad.name, campaign_ad_path(ad.campaign, ad) %></td>
              <td><%= image_tag ad.image_url, width: 300, height: 50 %></td>
              <td><%= ad.target_url %></td>
              <td><%= @impressions_by_ad[ad.id] %></td>
              <td><%= (@clicks_by_ad[ad.id] || 0) %></td>
              <td><%= format('%0.2f%%', (@clicks_by_ad[ad.id] || 0) / @impressions_by_ad[ad.id].to_f * 100) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
new PG.DataGraph("#stats.datagraph", "<%= data_campaign_path(@campaign) %>", {
  defaultDuration: 30,
  detailSmoothing: 1,
  overviewSmoothing: 1,
  datePickers: [
    { label: "last 90 days",  duration: 90 },
    { label: "last 60 days",  duration: 60 },
    { label: "last 30 days", duration: 30 }
  ],
});
</script>
